<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>SBMPTN Home</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	</head>
	
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand navbar-left">SBMPTN</a>
				</div>
	
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
						<li><a href="/univ">Universitas</a></li>
					</ul>
					<a class="navbar-brand navbar-right" >Yuliardi Ramdhani - 1506797633</a>			
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h2>Pengumuman SBMPTN</h2>
				</div>
				<div class="col-md-8">
					<table class="table">
						<tbody>
							<tr>
								<td>
									Nomor
								</td>
								<td></td>
								<td></td>
								<td>
									: <td th:text="${peserta.nomor}" />
								</td>
							</tr>
							<tr>
								<td>
									Nama
								</td>
								<td></td>
								<td></td>
								<td>
									: <td th:text="${peserta.nama}" />
								</td>								
							</tr>	
							<tr>
								<td>
									Tanggal Lahir
								</td>
								<td></td>
								<td></td>
								<td>
									: <td th:text="${#dates.format(peserta.tglLahir,'dd-MM-yyyy')}"/>
								</td>
							</tr>	
							<tr>
							
								<td>
									Umur
								</td>
								<td></td>
								<td></td>
								<td>
									
									 : <td th:text="${umur}"/>									
								</td>
							</tr>																		
						</tbody>
					</table>
				</div>
				<div class="col-md-8">
					<ul class="list-group">
					  <li class="list-group-item list-group-item-danger">Mohon maaf, Anda belum lulus seleksi SBMPTN.</li>
					</ul>						
				</div>	
			</div>
		</div>
		<script src="@{/js/bootstrap.min.js}"></script>
	</body>
</html>
