<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Prodi</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	</head>
	
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand navbar-left">SBMPTN</a>
				</div>
	
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
						<li><a href="/univ">Universitas</a></li>
					</ul>
					<a class="navbar-brand navbar-right" >Yuliardi Ramdhani - 1506797633</a>			
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Error</h2>
				</div>
				<div class="col-sm-5">
					<form >
						<div class="form-group">							
							<label th:text="'Maaf, Prodi dengan kode ' + ${kodeProdi} + ' tidak ditemukan.'"></label>							
						</div>
					</form>
				</div>
			</div>
	
		</div>
		<script src="@{/js/bootstrap.min.js}"></script>
	</body>
</html>
